<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Gomix!</title>
    <meta name="description" content="A cool thing made with Gomix">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
      Palindromes are NOT a kind of CAMEL!
      </h1>
    </header>

    <main>
      <p class="bold">Enter a string to check whether it is a palindrome:</p>
      <p>A palindrome is a word or phrase spelled the same forwards as it is backwards once all non-alphanumeric characters are removed and 
      all letters are set to the same case. For instance, "tacocat", "racecar", and "eye" are palindromes. 
      In this version "_eye" or "_?&taco_&cAt_*" are also palindromes, whereas "camel" is NOT.</p>
      <form>
        <input name="str" id="str" type="text" maxlength="100" placeholder="Enter your palindrome!">
        <button>Check!</button>
      </form>
      
      <div class="showresults"></div>
    </main>


    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
